<main id="main-content--">
    <form action="/log_out" method="POST" class="logout-form">
        <p class="logout-info">You're currently logged in. If you're done, click below to log out securely.</p>
        <button type="submit" class="header-btn">🔓 Log Out</button>
      </form>
      
</main>